h1 {
    font-family: noto SansSerif, sans-serif;
}

h2 {
    font-family: noto SansSerif, sans-serif;
    margin-top: 20px;
}

td {
    font-family: noto SansSerif, sans-serif;
}

p {
    font-family: noto SansSerif, sans-serif;
}

.contact table td {
    padding : 3px 10px;
}

.education table {
}
.education table th{
    padding : 5px 10px;
    font-family: noto SansSerif, sans-serif;
    border-right: 3px solid blue;
}
.education table td{
    padding : 5px 10px;
    font-family: noto SansSerif, sans-serif;
    background-color: white;
}

.skills table {
    margin-bottom: 10px;
}
.skills table th {
    padding : 5px 10px;
    text-align: left;
    font-family: noto SansSerif, sans-serif;
    border-bottom: 3px solid blue;
    border-left: 3px solid blue;
}

.skills table td{
    padding : 5px 10px;
    font-family: noto SansSerif, sans-serif;
    background-color: white;
}

.language table td, .language table th{
    padding : 5px 10px;
    font-family: noto SansSerif, sans-serif;
}

.language table th{
   border-right: 3px solid blue;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;
}

div {
}

body {
    background-color: navajowhite;
    margin: 30px;
}

